@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

#contact_btn {
    position: relative;
    padding: 25px 0;
    width: 180px;
    background-color: rgb(26, 40, 114);
    color: #fff;
    border: 1px #fff solid;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
  }

 #contact_btn:focus {
    outline: none;
  }

#contact_btn .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }
  
  @keyframes scale {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }


  /* modal */
  .modal_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal_content {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 400px;
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 10px;
}

.title {
  margin: 20px 0 0;
  padding: 0;
  color: #5290f9;
  text-align: center;
  font-size: 28px;
}

.title::after {
  content: '';
  background-color: green;
  border-bottom: 1px solid #000;
}

.modal_content .close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 23px;
  cursor: pointer;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 15px 0;
}

.input label {
  padding-right: 15px;
}

.input input {
  padding-left: 10px;
  width: 200px;
  height: 33px;
}

.link .fab {
  font-size: 40px;
  padding: 5px 10px 20px;
  cursor: pointer;
}

.fa-github-square {
  color: #000;
}

.fa-blogger {
  color: green
}
