main {
    position: relative ;
    top: 80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30%;
    margin: 30px auto;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 30px;
}

.counter-container span {
    font-size: 12px;
    font-weight: 700;
}

.counter {
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
}

.fab {
    font-size: 60px;
}

.fa-html5 {
    color: #E85D25;
}

.fa-css3-alt {
    color: #101fa8;
}

.fa-js {
    color: #EFD81D;
}

.fa-react {
    color: #61DAFB;
}

.fa-sass {
    color: #BF4080;
}

.data-target {
    font-weight: 900;
}


